/* @import "@radix-ui/colors/black-alpha.css"; */
/* @import "@radix-ui/colors/mauve.css"; */
/* @import "@radix-ui/colors/violet.css"; */

.IconButton {
  outline: none;
  color: var(--color-text-1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-weight: 400;
  width: 50px;
}

.IconButton[data-state="open"] svg {
  transform: rotate(-180deg);
}
.IconButton svg {
  width: 14px;
  margin-top: 4px;
}

.DropdownMenuContent,
.DropdownMenuSubContent {
  width: 100px;
  background-color: white;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.166),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  z-index: 99999999;
}
.DropdownMenuContent[data-side="top"] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side="right"] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side="left"] {
  animation-name: slideRightAndFade;
}

.DropdownMenuItem {
  font-size: 13px;
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 5px;
  position: relative;
  padding-left: 25px;
  user-select: none;
  outline: none;
  cursor: pointer;
  color: #211543;
  font-weight: 400;
}

.DropdownMenuItem:hover {
  filter: brightness(90%);
  background-color: rgba(224, 224, 224, 0.142);
}

.DropdownMenuItem[data-disabled] {
  color: var(--mauve-8);
  pointer-events: none;
}

.DropdownMenuItem[data-highlighted] {
  filter: brightness(90%);
  /* background-color: green; */
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
