/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); */


.full-blog-post-page{
    max-width: 800px;
    margin-inline:  auto;
    margin-bottom: 50px;
}

.pattern-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    
}

.pattern-container::after{
    background-image: url(/pattern-square.svg);
    background-position: top;
    bottom: 0;
    content: "";
    height: 312px;
    left: 0;
    -webkit-mask-image: linear-gradient(0deg,transparent 35%,#000 75%);
    mask-image: linear-gradient(0deg,transparent 35%,#000 75%);
    padding: 40px 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

}

